# Pandas Assingment-3

(Based on IPL matches and deliveries dataset)


<a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


<a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [0]:
import pandas as pd
import numpy as np
import io
from google.colab import files

In [0]:
uploaded=files.upload()
df1=pd.read_csv(io.StringIO(uploaded['matches.csv'].decode('utf-8')))
df1

Saving matches.csv to matches (1).csv

      id  season       city  ...          umpire1          umpire2 umpire3
0      1    2017  Hyderabad  ...      AY Dandekar         NJ Llong     NaN
1      2    2017       Pune  ...   A Nand Kishore           S Ravi     NaN
2      3    2017     Rajkot  ...      Nitin Menon        CK Nandan     NaN
3      4    2017     Indore  ...     AK Chaudhary    C Shamshuddin     NaN
4      5    2017  Bangalore  ...              NaN              NaN     NaN
..   ...     ...        ...  ...              ...              ...     ...
631  632    2016     Raipur  ...   A Nand Kishore     BNJ Oxenford     NaN
632  633    2016  Bangalore  ...     AK Chaudhary  HDPK Dharmasena     NaN
633  634    2016      Delhi  ...        M Erasmus    C Shamshuddin     NaN
634  635    2016      Delhi  ...        M Erasmus        CK Nandan     NaN
635  636    2016  Bangalore  ...  HDPK Dharmasena     BNJ Oxenford     NaN

[636 rows x 18 columns]

In [0]:
uploaded=files.upload()
df2=pd.read_csv(io.StringIO(uploaded['deliveries.csv'].decode('utf-8')))
df2

Saving deliveries.csv to deliveries (2).csv

        match_id  inning  ... dismissal_kind    fielder
0              1       1  ...            NaN        NaN
1              1       1  ...            NaN        NaN
2              1       1  ...            NaN        NaN
3              1       1  ...            NaN        NaN
4              1       1  ...            NaN        NaN
...          ...     ...  ...            ...        ...
179073     11415       2  ...            NaN        NaN
179074     11415       2  ...            NaN        NaN
179075     11415       2  ...        run out  KH Pandya
179076     11415       2  ...            NaN        NaN
179077     11415       2  ...            lbw        NaN

[179078 rows x 21 columns]

## Q1. Find out a City which has hosted most no. of IPL openers i.e first match of a season.

In [0]:
first_match=df1.drop_duplicates(subset=['season'],keep='first')
a=first_match.groupby('city').size().sort_values(ascending=False)
a.head(3)

city
Mumbai     2
Kolkata    2
Chennai    2
dtype: int64

## Q2. Find out top-3 batsman who has scored most runs against Malinga.

In [0]:
mask1=df2[df2['bowler']=='SL Malinga']
mask1.groupby('batsman').sum()['total_runs'].sort_values(ascending=False).head(3)

batsman
SR Watson         133
AB de Villiers    130
MS Dhoni           92
Name: total_runs, dtype: int64

## Q3. Make a function to find top bowler(in terms of most wickets) against any team. Take input as team.

In [0]:
def topbowl(teamname):
  teams=df2.groupby('batting_team')
  data=teams.get_group(teamname)
  mask1=data['dismissal_kind']!='NaN'
  mask2=data['dismissal_kind']!='run out'
  bowler=data[mask1 | mask2].groupby('bowler')
  a=bowler.size().sort_values(ascending=False)
  print(a.head(2))

In [0]:
topbowl('Sunrisers Hyderabad')

bowler
SP Narine    379
UT Yadav     324
dtype: int64

## Q4. Write a function which will take team name as input and return it's record of no. occurance in finals and no. of times won.  [Difficult]

ex.-- if team is CSK-- 
CSK in finals-

Played- 8
Won- 3

If any team which has not played in finals like Gujrat Lions

Gujrat Lions in finals-

Played-0

In [0]:
def func(teamname):
  finalteam=df1.drop_duplicates(subset='season',keep='last')
  played=finalteam[finalteam['team1']==teamname].shape[0]+finalteam[finalteam['team2']==teamname].shape[0]
  winner=finalteam[finalteam['winner']==teamname].shape[0]
  if(played!=0):
    print("played :",played,"winner:",winner)
  else:
    print("played:",played)

In [0]:
func('Rising Pune Supergiant')

played : 1 winner: 0

In [0]:
func('Chennai Super Kings')

played : 6 winner: 2

In [0]:
func('Kolkata Knight Riders')

played : 2 winner: 2

## Q5. Write a function which will take a input as batsman and in output it gives total runs scored against each team. [Medium]

In [0]:
def my_func(batsmanname):
  batsman=df2.groupby('batsman')
  data=batsman.get_group(batsmanname)
  teamdata=data.groupby('bowling_team')
  a=teamdata['batsman_runs'].count().sort_values(ascending=False)
  print(a)

In [0]:
my_func('V Kohli')

bowling_team
Chennai Super Kings        616
Delhi Daredevils           553
Kolkata Knight Riders      515
Mumbai Indians             497
Kings XI Punjab            495
Sunrisers Hyderabad        370
Rajasthan Royals           351
Deccan Chargers            230
Gujarat Lions              186
Rising Pune Supergiants    128
Pune Warriors              101
Rising Pune Supergiant      67
Kochi Tuskers Kerala        52
Delhi Capitals              50
Name: batsman_runs, dtype: int64